
:root {
    --defaultFontSize: 18px;
}

.font-size-button {
    width: 55px;
    height: 55px;
}

body {
    font-size: var(--defaultFontSize);
}
.large {
    font-size: calc(var(--defaultFontSize) + 5px);
}
.toggleButton {
    display: inline-block;
    background-color: #fff;
    cursor: pointer;
    outline-style: solid;
    border-radius: 2px;
    padding: 3px;
    transition: .4s;
    
}
.toggleButton:hover {
    background-color: #eee;
    box-shadow: -1px 3px 5px;
}


.toggleCheckbox {
    background-color: whitesmoke;
    display: block;
    cursor: pointer;
    padding: 1px;

    width: 250px;
    height: 2rem;

    border-style: solid;
    border-color: black;
    border-radius: 5px;
}
.toggleCheckbox input {
    cursor: pointer;
    aspect-ratio: 1 / 1;
    height: 80%;
    float: right;
}

.buttonsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
}

.colorButton {
    display: inline-block;
    cursor: pointer;
    width: 48%;
    height: 7.5vmax;
    font-size: 2.5vmax;
    transition: .4s;
}

.colorButton:hover {
    box-shadow: 0px 3px 5px #000;
}